:root {
    --main-color: #000000;
    --shadow-color: #666;
}

table {
    border-collapse: collapse;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: martian mono, sans-serif;
    padding-top: 70px; 
      
}
#game-of-the-week h2 {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    background-color: black;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.main-headings {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    background-color: black;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card-img-container {
    position: relative;
    overflow: hidden;
}

.game-image {
    transition: opacity 0.5s;
    display: block;
    width: 100%;
}

.game-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    overflow: auto;
    display: none;
    align-items: center;
    padding: 10px; /* Add padding for better text readability */
}

.card-img-container {
    position: relative;
    /* other styles like width, height, etc. */
}

    .card-img-container:hover .game-description {
        display: block; /* Show the description on hover */
    }

.description-content {
    max-height: 100%;
    overflow-y: auto; /* Add scroll to the content directly if needed */
}


.card {
    position: relative;
    overflow: hidden;
}

.carousel-height {
    height: 500px;
}

.carousel-item {
    height: 100%;
}

.carousel-item img,
.carousel-item iframe {
    height: 100%;
    width: 100%; 
    object-fit: cover; /* This ensures the content covers the area without distorting aspect ratio */
}

.form {
    margin: 0;
}

/* removed to fix formatting issues 
.small-jumbotron {
    height: 70vh;
}*/

nav {
    text-align: center;
}

.cart-button-container {
    padding: 5px; 
}

.button {
    background-color: var(--main-color);
    border: none;
    border-style: inset;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: 0 5px var(--shadow-color);
}

.button:active {
    box-shadow: 0 1px var(--shadow-color);
    transform: translateY(4px);
}

tr {
    font-weight: bolder;
    font-size: 16px;
}

th, td {
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    text-align: center;
    justify-content: center;
}

th {
    background-color: lightgray;
}

hr {
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: .4vh solid var(--main-color);
    width: 100%;
}

header {
    border: 3.5mm ridge gray;
    font-size: 36px;
    font-weight: bolder;
    background-color: lightgray;
    text-align: center;
}

footer {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#gendisp {
    border-collapse: collapse;
    table-layout: fixed;
    width: 80vw;
    height: 40vh;
    margin: auto;
}

#gendisp th {
    font-size: 26px;
    padding: 20px;
}

#gendisp img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    display: block;
}

#goh {
    border-collapse: collapse;
    table-layout: fixed;
    width: 50vw;
    height: 20vh;
    margin: auto;
}

#goh th {
    font-size: 26px;
    padding: 20px;
}

#goh img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    width: 400px;
    height: auto;
}

.fav_1 {
    align-items: center;
    text-align: center;
    font-family: martian mono;
    font-size: 4.5vh;
    margin-right: 35vw;
    margin-left: 35vw;
    font-weight: 600;
    border: solid;
    display: block;
}

.logo {
    display: block;
    width: 60vw;
    height: 20vh;
    margin: auto;
    border-style: double;
    border-width: 1.5vh;
    border-radius: 20px;
}

.favourites {
    display: block;
    width: 100%; 
    height: 80vh; 
    object-fit: fill;
}

.fav_tbl {
    font-size: 3vh;
    font-family: martian mono;
}

#mid_tbl {
    border: 0px;
    padding-left: 40px;
    padding-right: 40px;
}

.container {
    display: grid;
    justify-content: center;
}

.tbl_format {
    justify-content: center;
    margin-top: 5vh;
}

#cart {
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#cartDetails {
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    padding: 0;
    z-index: 1001; /* Ensure it's above other content */
}

#cartDetails.open {
    width: 400px; /* Or whatever width you prefer */
    padding: 20px;
}

.book-item {
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
    background-color: #efefef;
}

.book-image {
    margin-right: 10px;
}

.book-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-right: 10px;
}

.book-title {
    margin-bottom: 5px;
    text-align: left;
    padding: 4px 8px;
}

.book-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px
}

.quantity-adjuster {
    display: flex;
    align-items: center;
}

    .quantity-adjuster input[type="number"] {
        width: 50px;
        margin: 0 5px;
        text-align: center;
    }

    .quantity-adjuster button {
        width: 30px;
        height: 30px;
        padding: 0;
        border: none;
        background: #eee;
        line-height: 30px;
        vertical-align: middle;
        cursor: pointer;
    }


/*#cartDetails {
    display: none;
    position: fixed;
    top: 40px;
    right: 10px;
    background-color: rgb(206, 201, 240);
    border: 1px solid #ccc;
    padding: 10px;
    width: 400px;
    height: auto;
    overflow: auto;
    max-height: calc(100vh - 50px);
    right: 0;
}*/

.cart-close {
    margin-top: 30px;
}

#cartDetails img {
    width: 100px;
    height: auto;
}

#cartDetails .book-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown::after {
    content: '▼';
    position: relative;
    right: .5vw;
    top: 0;
}

.show {
    display: block;
}

#searchInput {
    font-size: 20px; 
    padding: 5px 20px; 
    width: 50%; 
}

.suggestions-dropdown {
    display: none;
    background-color: #f9f9f9;
    border: 10px solid black;
    border-radius: 4px;
    padding: 10px;
    position: relative;
    border: 1px solid black;
    width: 50%;
    z-index: 1000;
    top: 120%; 
}

.suggestions-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.suggestions-dropdown ul li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-dropdown ul li:hover {
    background-color: #f1f1f1;
}

.search-container {
    position: relative;
    text-align: left;
}

#suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
}

html {
    scroll-behavior: smooth;
}
